/* stylelint-disable-line  csstree/validator, no-descending-specificity */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400;1,500&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
$darkRed: #a70000;
$lightRed: rgba(253, 194, 194, 0.466);
$lightColor: #777;
$lightWhite: #eee;
$black: #444;
$white: #fff;
$border: 0.1rem solid $darkRed;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 2rem;
}

@mixin titleText($titleSize) {
  font-size: $titleSize;
  text-transform: capitalize;
  color: $black;
}

@mixin graphText($graphSize) {
  font-size: $graphSize;
  text-transform: capitalize;
  line-height: 2;
  color: $lightColor;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $darkRed;
  }
}

// heading section
.heading {
  text-align: center;
  margin-bottom: 3rem;

  @include titleText( 3.5rem);
}

.btn {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: $border;
  background: $white;
  color: $darkRed;
  cursor: pointer;
  text-transform: capitalize;

  &.active {
    background: $darkRed;
    color: $white;
  }

  &:hover {
    background: $darkRed;
    color: $white;
  }
}

.logo {
  margin-right: auto;
}

.logo img {
  width: 17%;
  height: 2%;
}

.section-pad {
  padding: 5rem 10%;
}

.icons {
  display: flex;
}

header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background: $white;
  box-shadow: $box-shadow;
  padding: 0.1rem 6%;
  display: flex;
  align-items: center;
  z-index: 1000;

  .navbar {
    position: relative;

    #close-nav {
      position: absolute;
      top: 1.5rem;
      right: 2rem;
      font-size: 4rem;
      cursor: pointer;
      color: $black;
      display: none;

      &.transform {
        transform: rotate(90deg);
      }
    }

    a {
      margin-right: 2rem;

      @include titleText(2.3rem);
    }

    a:hover {
      color: $darkRed;
    }
  }

  .icons div {
    cursor: pointer;
    font-size: 2.9rem;
    margin-left: 2rem;
    color: $black;

    &:hover {
      color: $darkRed;
    }
  }

  #menu-btn {
    display: none;
  }
}

// Account form

.account-form {
  position: fixed;
  top: 0;
  right: -120%;
  width: 35rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  background: $white;
  justify-content: center;
  height: 100%;
  z-index: 1200;
  padding: 2rem;
  align-items: center;

  &.active-form {
    right: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }

  .buttons {
    display: flex;
  }

  #close-form {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: $black;

    &.transform {
      transform: rotate(90deg);
    }
  }

  form {
    border: $border;
    padding: 2rem;
    text-align: center;
    display: none;

    &.active {
      display: block;
    }

    .login-btn {
      margin-top: 1rem;
      padding: 1rem 3rem;
      font-size: 1.8rem;
      border: $border;
      background: $white;
      color: $darkRed;
      text-transform: uppercase;
      cursor: pointer;
      width: 100%;

      &:hover {
        background: $darkRed;
        color: $white;
      }
    }

    h3 {
      @include titleText(2.5rem);

      text-transform: uppercase;
      padding-bottom: 0.5rem;
    }

    .box {
      padding: 1.2rem 1.4rem;
      border: $border;
      font-size: 1.6rem;
      margin: 0.7rem 0;
    }

    .flex {
      padding: 1rem 0;
      display: flex;
      align-items: center;

      label {
        font-size: 1.5rem;
        color: $lightColor;
        cursor: pointer;
      }

      a {
        font-size: 1.5rem;
        color: $lightColor;
        margin-left: auto;

        &:hover {
          text-decoration: underline;
          color: $darkRed;
        }
      }
    }
  }
}

footer {
  background-color: $lightRed;

  .box-container {
    @include grid(25rem);

    .box {
      h3 {
        @include titleText(2.2rem);

        padding: 1rem 0;
      }
    }

    img {
      width: 40%;
      height: auto;
    }

    .link {
      @include graphText(1.7rem);

      padding: 0.5rem 0;
      display: block;

      &:hover {
        color: $darkRed;
        text-decoration: underline;
      }
    }

    .share {
      margin-top: 1rem;

      a {
        height: 4rem;
        border-radius: 15px;
        width: 4rem;
        line-height: 4.5rem;
        font-size: 1.7rem;
        background-color: $darkRed;
        color: $white;
        margin-right: 0.2rem;
        text-align: center;

        &:hover {
          background-color: $lightColor;
        }
      }
    }

    p {
      @include graphText(1.5rem);

      padding: 1rem 0;
    }

    #email-footer {
      width: 100%;
      padding: 1.2rem 1.4rem;
      font-size: 1.6rem;
      border: $border;
      margin-bottom: 1rem;
    }
  }

  .credit {
    margin-top: 3rem;
    padding-top: 3rem;
    text-align: center;

    @include titleText(2rem);

    border-top: $border;

    span {
      color: $darkRed;
    }
  }
}

// home-section

.home {
  padding: 0.5rem 0;

  .slide {
    position: relative;
    display: flex;
    align-items: center;
    height: 58rem;
    background-size: cover !important;
    background-position: center !important;

    .content {
      z-index: 11;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: center;
      width: 60rem;
      padding: 1rem;

      h3 {
        @include titleText(6rem);

        color: $white;
      }

      p {
        @include graphText(2rem);

        color: $white;
        padding: 1rem 0;
      }
    }
  }

  .slide-1 {
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }

    background: url('./images/man-comp-2.jpg') no-repeat;
    justify-content: flex-end;
  }

  .slide-2 {
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }

    background: url('./images/woman-comp-2.jpg') no-repeat;
    justify-content: flex-end;
  }

  .slide-3 {
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }

    background: url('./images/child-phone-2.jpg') no-repeat;
    justify-content: flex-start;
  }
}

// Subjects section

.subjects {
  padding: 3rem 1rem;

  .subject-img {
    width: 70%;
    height: 100%;
  }

  .box-container {
    @include grid(15rem);

    margin-bottom: 4rem;
    padding: 0 3rem;
  }

  .box {
    padding: 2rem 2rem;
    text-align: center;
    cursor: pointer;

    h3 {
      @include titleText(1.7rem);
    }

    p {
      @include graphText(1.5rem);
    }
  }
}

// courses section
.home-courses {
  padding: 3rem 1rem;

  .slide {
    text-align: center;
    position: relative;
    width: 100%;
    background: $lightRed;
    padding: 1rem 1rem;
    margin-left: 2rem;
    overflow: hidden;

    &:hover .content {
      bottom: 0;
    }

    .image {
      padding: 2rem;

      img {
        width: 100%;
        height: auto;
        border-radius: 7px;
        margin-bottom: 1.5rem;
      }

      #science {
        width: 68%;
      }

      h3 {
        @include titleText(2rem);
      }
    }

    .content {
      position: absolute;
      bottom: -200%;
      right: 0;
      left: 0;
      background-color: $lightColor;
      padding: 2rem 3rem;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      h3 {
        @include titleText(2rem);

        color: $white;
      }

      p {
        padding: 1rem 0;

        @include graphText(1.5rem);

        color: $lightWhite;
      }
    }
  }
}

// media queries

@media only screen and (max-width: 1200px) {
  .header {
    padding: 0.9rem 5%;
  }

  .section-pad {
    padding: 3rem 5%;
  }
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 56%;
  }

  .section-pad {
    padding: 3rem 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    #menu-btn {
      display: inline-block;
    }

    .navbar {
      position: fixed;
      top: 0;
      right: -111%;
      width: 30rem;
      background: $white;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      z-index: 1200;

      &.active {
        right: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
      }

      a {
        display: block;
        margin: 1rem 0;
        text-align: center;
        font-size: 3rem;
      }

      #close-nav {
        display: inline-block;
      }
    }
  }

  .home .slide .content {
    h3 {
      font-size: 3rem;
    }

    p {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
}
